@use 'base';

$dark: black;
$spacer: 20px;

@import '../node_modules/bootstrap/scss/bootstrap';

:root {
  font-size: 14px;
}

body {
  line-height: 1.8;
  letter-spacing: 0.015em;
}

a {
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.avatar {
  border-radius: 50%;
  align-self: flex-start;
  object-fit: contain;
}

// comment
.comments-container {
  background-color: base.$gray17;
}

.comments > li:not(:first-child) {
  margin-top: 15px;
}

.comment-item {
  background: base.$gray2;
}

.comment-user {
  margin-bottom: 2px;
  color: base.$white;
  font-size: 14px;
  line-height: 1.45;

  &:hover {
    color: base.$white;
    text-decoration: underline;
  }
}

.comment-headline {
  color: base.$gray74;
  font-size: 12px;
  line-height: 1.35;
  margin-bottom: 4px;
}

.comment-text {
  margin-bottom: 6px;
  color: base.$gray;
}

.comment-footer {
  color: base.$gray74;
  font-size: 12px;
  transition: color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);

  button {
    color: #747474;

    &:hover {
      color: white;
    }
  }

  li:not(:first-child)::before {
    content: '•';
  }
}

.comment-like {
  i::before {
    content: '\f00c';
    @include base.icon;
  }
}

.comment-likes-count {
  i::before {
    content: '\f164';
    @include base.icon;
  }
}

.comment-dropdown {
  display: none;
  position: absolute;
  right: 10px;
  top: 8px;

  i::before {
    color: base.$gray74;
    content: '\f141';
    @include base.icon;
  }
}

.comment-item:hover {
  .comment-dropdown {
    display: block;
  }
}

.comment-dropdown-menu {
  padding: 4px 0 4px;
  position: absolute;
  right: 5px;
  top: 35px;
  background-color: base.$gray3;
  border-radius: 4px;
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 75%);
  line-height: 1.8;
  min-width: 160px;
  padding: 5px 0;
}

.comment-dropdown-menu button {
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 5px 20px 5px 17px;
  color: base.$gray;
  border-left: 3px solid transparent;
  transition: all 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.comment-dropdown-menu button:hover {
  border-color: base.$blue-btn-bg;
  color: base.$white;
  background-color: $dark;
}

.comment-form button {
  color: base.$white;
  background-color: base.$blue-btn-bg;
  border-color: base.$blue-btn-b;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s linear, color 0.2s linear,
    border-color 0.2s linear;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &:hover:not([disabled]) {
    background-color: base.$blue-btn-bg-h;
    border-color: base.$blue-btn-b-h;
  }
}

.comment-form textarea {
  background-color: transparent;
  min-height: 100px;
  border: 1px solid base.$gray3;
  border-radius: 4px;
  line-height: 1.4;
  padding: 8px 10px;
  transition: all 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);

  &:focus {
    border-color: base.$gray-5d;
    outline: 0;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(93 93 93 / 60%);
  }
}

.has-error textarea:focus {
  border-color: base.$red-input-b;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px base.$red-input-bs;
}
